body {
  background: rgb(185,207,219);
  background: linear-gradient(117deg, rgba(185,207,219,1) 0%, rgba(235,199,181,1) 100%);
}

.container {
  background-color: azure;
}

.reg {
  margin-top: 5px;
}